.header {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 14px;
}

.button-scroll-up {
    display: none;
    position: fixed;
    bottom: 14px;
    right: 16px;
}

.button-scroll-up:hover {
    opacity: .8;
    cursor: pointer;
}

.button-reset {
    margin-left: 8px;
}

.character {
    height: 100px;
    width: 500px;
    margin-top: 3px;
}

img.avatar {
    height: 100px;
}

.info {
    height: 100px;
}